.table-responsive table.dataTable thead  tr th {
	text-align: left;
	color: #000000;
	padding-left: 10px !important;
}

.table-responsive table.dataTable tbody tr td {
	text-align: left;
	padding-left: 10px !important;
	vertical-align: top;
}

.table-responsive table.dataTable tbody tr td.dataTables_empty {
	text-align: center;
}

.table-responsive .status.active {
	font-weight: bold;
	color: #0a9825;
	background: none !important;
}

.table-responsive .status.failed {
	color: #FBC02D;
}

.table-responsive .status.cancelled {
	color: #f64242;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button {
	margin: 0 5px;
	background: none;
	border: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before {
	bottom: 5px !important;
    /*top: unset !important;*/;
}

div table.dataTable>tbody>tr.child ul.dtr-details {
	width: 100%;
	padding: 0 20px;
	position: relative;
}

.dtr-title {
	width: 40%;
	vertical-align: top;
}

.dtr-data {
	width: 56%;
	display: inline-block;
}

#wpadmin-list thead tr {
	background: #F7FF88 !important;
}

div.table-responsive table.dataTable.collapsed tr td.subscriber,div.table-responsive table.dataTable.collapsed tr th.subscriber {
	padding-left: 30px !important;
}

table.dataTable.no-footer {
	border-bottom: none !important;
}

[data-tooltip] {
	position: relative;
	z-index: 10;
}



/* Positioning and visibility settings of the tooltip */

[data-tooltip]:before,

[data-tooltip]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	left: 50%;
	bottom: calc(100% + 5px);
	pointer-events: none;
	transition: 0.2s;
	will-change: transform;
}



/* The actual tooltip with a dynamic width */

[data-tooltip]:before {
	content: attr(data-tooltip);
	padding: 10px 18px;
	min-width: 50px;
	max-width: 300px;
	width: max-content;
	width: -moz-max-content;
	border-radius: 6px;
	font-size: 14px;
/*   font-size: 0.73rem; */
	background-color: rgba(59, 72, 80, 0.9);
	background-image: linear-gradient(30deg,

    rgba(59, 72, 80, 0.44),

    rgba(59, 68, 75, 0.44),

    rgba(60, 82, 88, 0.44));
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
	color: #fff;
	text-align: center;
	white-space: pre-wrap;
	transform: translate(-50%, -5px) scale(0.5);
}



/* Tooltip arrow */

[data-tooltip]:after {
	content: '';
	border-style: solid;
	border-width: 5px 5px 0px 5px;
	border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
	transition-duration: 0s;
 /* If the mouse leaves the element, 

                              the transition effects for the 

                              tooltip arrow are "turned off" */
	transform-origin: top;
   /* Orientation setting for the

                              slide-down effect */
	transform: translateX(-50%) scaleY(0);
}



/* Tooltip becomes visible at hover */

[data-tooltip]:hover:before,

[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */

[data-tooltip]:hover:before {
	transition-delay: 0.3s;
	transform: translate(-50%, -5px) scale(1);
}

/* Slide down effect only on mouseenter (NOT on mouseleave) */

[data-tooltip]:hover:after {
	transition-delay: 0.5s;
 /* Starting after the grow effect */
	transition-duration: 0.2s;
	transform: translateX(-50%) scaleY(1);
}









/* RIGHT */

[data-tooltip-location="right"]:before,

[data-tooltip-location="right"]:after {
	left: calc(100% + 5px);
	bottom: 50%;
}

[data-tooltip-location="right"]:before {
	transform: translate(5px, 50%) scale(0.5);
}

[data-tooltip-location="right"]:hover:before {
	transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
	border-width: 5px 5px 5px 0px;
	border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
	transform-origin: right;
	transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="right"]:hover:after {
	transform: translateY(50%) scaleX(1);
}

.name a {
	z-index: 1;
}

.gss_item a, .gss_item a:hover {
	color: inherit;
}

@keyframes moveFocus {
 

	0% {
		background-position: 0% 100%;
	}

	100% {
		background-position: 100% 0%;
	}
}

table .action .dropdown:after {
	float: right;
}

table .action .dropdown {
	display: inline;
	position: relative;
	user-select: none;
}

table .action .dropdown1:after {
	content: '\2807';
	font-size: 20px;
	cursor: pointer;
	cursor: hand;
	pointer-events: all;
}

.dropdown-content.show {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	width: 120px;
	border-radius: 0;
	padding: 0;
	top: 22px;
	z-index: 999;
}

.wpadmin-list .dropdown-content {
	right: -78px !important;
}

.dropdown-content a:hover {
	background: #ccc;
	border-radius: 0;
	color: #000;
}

.dropdown-content a {
	padding: 3px 10px;
	color: #000;
	display: block;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
}

.dropdown-content a:last-child {
	border: none;
}

.mobile_link {
	display: none !important;
}

.ui-dialog-titlebar-close {
	display: none;
}

.ui-dialog {
	max-width: 96%;
	z-index: 99999;
	top: 0px !important;
	;
}

.gss_order_table > tbody > tr > th, .gss_order_table > tbody > tr > td {
	border: none;
}

.gss_order_table table.entry-products {
    /*border: 1px solid #c3c4c7;*/
	margin: 10px 0;
}

table.gss_order_table {
	width: 100%;
}

.gss_order_table table.entry-products {
	width: 100%;
}

.gss_order_table table.entry-products th, .gss_order_table table.entry-products td {
	text-align: left;
	border: 1px solid #f2f2f2;
}

.gss_order_table table.entry-products td {
	padding: 12px;
}

.gss_order_table table.entry-products th[scope=col] {
	background-color: #fff;
	border-bottom: 1px solid #c3c4c7;
	padding: 7px 5px 8px;
}

.gss_order_table table.entry-products col.entry-products-col2 {
	width: 50px;
}

.gss_order_table table.entry-products col.entry-products-col3,.gss_order_table table.entry-products col.entry-products-col4 {
	width: 155px;
}

.gss_order_table table.entry-products thead th:last-child {
	text-align: right;
}

.gss_order_table table.entry-products tfoot tr:first-child td {
	border-top: 1px solid #e5e5e5;
}

.gss_order_table table.entry-products td {
	color: #51575d;
	font-size: 12px;
	font-weight: 600;
}

.gss_order_table table.entry-products tfoot td {
	font-weight: 700;
}

.gss_order_table table.entry-products tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.gss_order_table table.entry-products td:last-child {
	text-align: right;
}

.gss_order_table table.entry-products td:nth-child(2) {
	text-align: left;
}

.gss_order_table table.entry-products td.textcenter,.gss_order_table table.entry-products th.textcenter {
	text-align: center;
}

.gss_order_table table.entry-products td.textright,.gss_order_table table.entry-products th.textright {
	text-align: right;
}

.gss_order_table table.entry-products td.emptycell {
	background-color: #fff;
}

.gss_order_table table.entry-products td div.product_name {
	color: #3a70ac;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 5px;
}

.gss_order_table table.entry-products td.grandtotal_amount {
	color: #367b5e;
	font-size: 110%;
}

.gss_order_table table.entry-products td ul.product_options li {
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: 0 0 0 2px!important;
	overflow: visible;
	padding: 4px 0 4px 0px;
	list-style-type: none;
}

.gss_order_table td.entry-view-field-name {
	display: none;
}

#tab_gravitystripe .gform-settings-field {
	/*margin-bottom: 30px;*/
}

.prorated-refund span {
	font-weight: 600;
}

.refund_selection {
	display: flex;
	gap: 8px;
	align-items: center;
	padding: 5px;
}

.refund_selection label {
	margin: 0;
	display: flex;
	gap: 8px;
	align-items: center;
}

.refund_selection label input {
	margin: 0;
}

.prorated-refund span {
	color: #018140;
}

.select-action span {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

/* Thumbnail settings */

@media (min-width: 480px) {
	.table-responsive .action > a.cancel_subscription, .table-responsive .action > a.cancel_subscription:hover {
		background: #f64242;
		color: #ffffff;
		padding: 5px;
		border-radius: 3px;
		border-bottom: 1px solid #d43434;
	}
}

@media (max-width: 480px) {
	
	.dtr-data .mobile_link {
		display: inline-block !important;
		margin: 3px 5px !important;
		padding: 0 !important;
	}

	table .dropdown {
		display: none !important;
	}
	
	
	/*a.mobile_link.upgrade_link {
		padding: 10px;
		margin: 10px;
	}
	a.mobile_link.cc_info_change_link {
		display: block !important;
		margin-top: 12px; 
	}*/;
}

@media (max-width: 750px) {

	[data-tooltip]:after {
		bottom: calc(100% + 3px);
	}

	[data-tooltip]:after {
		border-width: 7px 7px 0px 7px;
	}
}

.table-responsive.list-gss {
	height: auto;
	min-height: 100%;
	overflow: inherit;
}


/* CC Css */
.modal-body {
	padding: 0 15px;
}

.modal-header button {
	display: none;
}

.creditCardForm {
	max-width: 700px;
	background-color: #fff;
	overflow: hidden;
	padding: 0 25px;
	color: #4c4e56;
}

.creditCardForm label {
	width: 100%;
	margin-bottom: 10px;
	font-weight: 400;
}

.creditCardForm .payment {
	float: left;
	font-size: 18px;
	position: relative;
}

.creditCardForm .payment .form-group {
	float: left;
	margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
	line-height: 40px;
	height: auto;
	padding: 0 16px;
}

.creditCardForm .payment select, .creditCardForm .payment .form-control {
	height: 43px;
}

.creditCardForm .payment .form-control, .form-group select {
	border-color: #d6d5d5;
	border-radius: 4px;
}

.creditCardForm .payment .form-control {
	background: #fdfdf6;
}

.form-group select {
	background: #f7f7f7 !important;
}

.creditCardForm .CVV {
	width: 20%;
}

.creditCardForm #gss_card-number-field {
	width: 100%;
}

.creditCardForm #gss_expiration-date {
	width: 80%;
}

.creditCardForm #gss_pay-now {
	width: 100%;
	margin-top: 25px;
}

.creditCardForm .payment .btn {
	width: 100%;
	margin-top: 3px;
	font-size: 24px;
	background-color: #1F90EA;
	color: white;
	border: none;
	padding: 10px;
}

.creditCardForm .payment select {
	padding: 10px;
	width: 48%;
}

.transparent {
	opacity: 0.2;
}

div#gss_response_msg {
	color: #ff0000;
	font-weight: 700;
}

@media(max-width: 650px) {
	.creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #gss_expiration-date,
    .creditCardForm #gss_credit_cards {
		width: 100%;
	}

	.creditCardForm #gss_credit_cards {
		text-align: left;
	}

	.table-responsive table.dataTable thead  tr th, .table-responsive table.dataTable tbody  tr td {
		padding-left: 5px !important;
	}

	div.table-responsive table.dataTable tr td.subscriber, div.table-responsive table.dataTable tr th.subscriber {
		padding-left: 25px !important;
	}
}

@media screen and (max-width: 767px) and (min-width: 481px) {
	.table-responsive table.dataTable tbody tr td {
		padding: 5px 0;
		font-size: 11px;
	}

	.dropdown-content {
		right: -10px;
	}
}

.notice-container {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.notice-image img {
	max-width: 90px;
}

.notice-content {
	margin-left: 15px;
}

.notice-content .notice-heading {
	padding-bottom: 5px;
}

.gss-review-notice-container a {
	padding-left: 5px;
	text-decoration: none;
}

.gss-review-notice-container {
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.gss-review-notice-container .dashicons {
	font-size: 1.4em;
	padding-left: 10px;
}

#gss_existing_card {
	color: #8e8e8e;
	border-bottom: 1px solid #c3bfbf;
	background: #eeeeee;
	padding: 3px 8px;
	font-size: 1.5rem;
	line-height: 1.5;
}

.list-gss .dataTables_wrapper .dataTables_paginate span a.paginate_button {
	border-radius: 5px;
	margin: 0 8px;
	padding: 3px 5px;
}

.list-gss .dataTables_wrapper .dataTables_paginate {
	background: #eeeeee;
}

.list-gss .dataTables_wrapper .dataTables_paginate span a.paginate_button.current {
	background: #d2d2d2 !important;
}

.list-gss .dataTables_wrapper .dataTables_paginate a.next.paginate_button, .list-gss .dataTables_wrapper .dataTables_paginate a.next.paginate_button:hover {
	color: #000000 !important;
}

.list-gss .dataTables_wrapper .dataTables_paginate a.paginate_button, .list-gss .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
	border: 1px solid transparent;
}

.list-gss .dataTables_wrapper .dataTables_paginate span a.paginate_button:hover, .list-gss .dataTables_wrapper .dataTables_paginate span a.paginate_button:active {
	box-shadow: inset 0 0 2px #6e6e6e;
}

.list-gss .dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover, .list-gss .dataTables_wrapper .dataTables_paginate a.paginate_button.current:active {
	box-shadow: none;
}

.list-gss .dataTables_wrapper .dataTables_paginate .paginate_button, .list-gss .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #000000 !important;
}

.list-gss .dataTables_wrapper .dataTables_paginate {
	padding: 3px 0;
}

.locked i {
	float: right;
	margin-top: 8px;
}

.locked {
	background: #ececec;
}

#gssModalUpgrade h2 {
	font-size: 36px;
	font-weight: 700;
	color: #4f4f4f;
	text-align: center;
}

#gssModalUpgrade h2 a {
	color: blue;
}

#gssModalUpgrade .modal-title {
	font-size: 24px;
	font-weight: 700;
	color: #4f4f4f;
	text-align: center;
}

.select-action {
	background: #F1F1F1;
	padding: 4px 2px 4px 3px;
	border-radius: 2px;
	width: 100%;
    display: inline-block;
    line-height: 1;
}

.loader-image {
	width: 15px;
	visibility: hidden;
}

.loader-image.show {
	visibility: visible;
	display: inline !important;
	margin-left: 7px;
}

.gss_table th, .gss_item td:not(.status) {
	white-space: nowrap;
}

#wpadmin-list_filter.dataTables_filter {
	display: block !important;
}

.dataTables_filter {
	display: none !important;
}

.modal-title {
	font-size: 18px;
}

#cancelSelectionDialog .cancel_form {
	padding: 20px 0;
}

#cancelSelectionDialog .form-group.cancel_selection {
	display: block;
	padding: 5px 0;
}

#cancelSelectionDialog input[type="radio"] {
	margin-right: 10px;
	outline: none !important;
}

#cancelSelectionDialog h4.body-title {
	margin: 0;
	padding: 10px 0;
}

#cancelSelectionDialog button.btn.btn-default.cancel_subscription_admin {
	background: red;
	color: #ffffff;
}

#refundSelectionDialog .cancel_form {
	padding: 20px 0;
}

#refundSelectionDialog .form-group.cancel_selection {
	display: block;
	padding: 5px 0;
}

#refundSelectionDialog input[type="radio"] {
	margin-right: 10px;
	outline: none !important;
}

#refundSelectionDialog h4.body-title {
	margin: 0;
	padding: 10px 0;
}

#refundSelectionDialog button.btn.btn-default.refund_subscription_admin {
	background: red;
	color: #ffffff;
}